//@import "mixins.css";


$maincolor:#FFCC00;

body{
	background-color:$maincolor;
}

nav{
	float:left;
	width:20%;
	h1{
		font-size:1.1em;
	}
}

//this is easier to read and keep track of.
/*this note remains*/

a{
	&:link,&:visited{
		text-decoration:none;
	}
	&:hover{
		text-decoration:underline;
	}
}
	
@mixin roundedcorner{
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

header{
	@include roundedcorner;
	background-color:#333;
}

footer{
	@include roundedcorner;
	background-color:#999;
}




@mixin fontinfo($fontsize){
	font-family:Verdana,Arial,sans-serif;
	font-weight: bold;
	font-size:$fontsize;
}

h1{
	@include fontinfo(1.4em);
		
}

p{
	@include fontinfo(.9em);	
}


